* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 100vw;
    min-height: 100vh;
    font-family: 'Comic Neue', cursive;
    /* overflow: hidden; */
}

.titulo {
    font-size: 45px;
}

.container-image {
    width: 100%;
    height: 50vh;
    background-color: aqua;
    background-image: url("../assets/design-two.jpg");
    background-position: top;
    background-repeat: no-repeat;
}

nav ul {
    display: flex;
    position: absolute;
    top:4%;
}

nav {
    display: flex;
    justify-content: end;
}

.container-logo {
    width: 35%;
    display: flex;
}


.container-logo img, .container-logo-home img, .container-logo-rules img {
    width: 100%;
    height: auto;
}

.container-logo-home{
    width: 20%;

}

.container-logo-rules{
    width: 80%;
}


.main {
    display: flex;
    width: 100%;
}

.text, .text-rules {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    font-size: 20px;
}

.size{
    font-size: 14px;
    margin-right: 15px;
}

.date{
    font-style: italic;
    font-weight: bolder;
}

.detail{
    margin-left: 15px;
    margin-bottom: 20px;
}

.email{
    padding-bottom: 20px;
}


.element-nav {
    border: 2px solid black;
    padding: 5px 10px;
    margin: 20px;
    list-style: none;
    display: flex;
}

.element-nav-active, .element-nav-active a{
    background-color: rgb(78, 192, 78);
    color: white;
    text-decoration: none;
}

.element-nav-inactive, .element-nav-inactive a{
    color: white;
    background-color: rgb(73, 73, 233);
    text-decoration: none;

}

h2 {
    color: black;
    background-color: white ;
    text-align: center;
    border: 1px solid black;
    padding: 5px 0px;
}

.sports{
    margin: 15px;
}

.regulations{
    margin: 15px;
}

.dimensions{
    margin: 15px;
}

.competition{
    margin: 15px;
}

.fields{
    margin: 15px;
}

.letras{
    list-style-type: lower-latin;
}

.allplay{
    margin: 15px;
}

.circulo{
    list-style-type: circle;
    margin-bottom: 30px;
}
.p{
    margin: 15px;
    text-decoration: underline;
    font-size: 18px;
    font-style: italic;
}

table, tr, th, td{
    border: solid 1px black;
    padding: 12px;
    /* background-color: rgba(235, 226, 62, 0.575); */
}

.extra{
    font-size: 20px;
    margin: 15px;
}

.contact{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: 30px;
}

_______________________________ form_______________________

 .contenedor-form{
    width: 70%;
    margin-left: 15%;
    font-size: 20px;

 }
.tittleform{
    font-size: 35px;
    text-align: center;
    margin-bottom: 25px;

}
 .container-logo-form{
    width: 50%;
    margin-top: 50px;
    
 }

.container-logo-form img{
    width: 100%;
    height: auto;
}
.name{
    margin: 10px;

}

.lastname{
    margin-left: 35px;
}

.zip{
    margin-left: 155px;
}

.gend{
    margin-left: 12px;
}
.Street{
    width: 75%;
    margin: 10px;
}

.City{
    width: 75%;
    margin: 10px; 
}
 .Birth{
    width: 75%;
    margin: 10px; 
 }

 .Grade{
    width: 75%;
    margin: 10px; 
 }
 .elementary{
    margin: 13px;

 }
 .closest{
    display: grid;
    grid-template-columns: 50% 50%;
 }

 .info{
    display: flex;
    flex-direction: column;
 }

.container-second-section{
    display: grid;
    grid-template-columns: 50% 50%;
}

.container-third-section{
    display: grid;
    grid-template-columns: 50% 50%;

}

.container-fourth-section{
    display: grid;
    grid-template-columns: 50% 50%;
}

.firma{
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 10px;

}

.firm{
    border: none;
    border-bottom: 1px solid black;
}